/*--General--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 4px;
}

body, #app, .page-wrapper {
    height: 100vh;
}


/*--Buttons--*/

/*--Chips--*/

/*--Stickers--*/
